<main class="container my-5">
  <h1 class="display-6 mb-4">Welcome to the PokéCatalog!</h1>
  <form (ngSubmit)="onSubmitTrainerName(newTrainerForm)" #newTrainerForm=ngForm>
    <div class="input-group">
      <fieldset class="form-floating">
        <input type="text" ngModel name="trainerName" class="form-control" id="trainer-name-input" placeholder="ash"
        autofocus required (input)="onInputChange()" [ngClass]="(inputError) ? 'is-invalid' : ''">
        <label for="trainer-name-input">Enter trainer name</label>
      </fieldset>
      <button class="btn btn-primary" [disabled]="currentTrainerService.trainerLoading">
        Confirm <span *ngIf="currentTrainerService.trainerLoading" class="spinner-border align-middle"></span>
      </button>
    </div>
    <span class="form-text text-danger" [hidden]="!inputError">
      Enter a valid trainer name with at least 3 characters.
    </span>
  </form>
</main>
