<header class="navbar navbar-expand navbar-dark bg-dark">
  <nav class="container">
    <a class="navbar-brand" routerLink="/">PokéCatalog</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/trainer">
          <span *ngIf="currentTrainerService.currentTrainer?.username">
            {{currentTrainerService.currentTrainer?.username}}&nbsp;
          </span>
          <i class="bi bi-person-fill"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
