<div class="container my-5">
  <h1>Your collection</h1>
  <p class="text-center mt-4"
     *ngIf="fetchPokemonService.fetchPokemonLoading || currentTrainerService.trainerLoading">
    <span class="spinner-border text-primary"></span></p>
  <app-pokemon [pokemons]="fetchPokemonService.collection" [action]="buttonAction"
               *ngIf="!(fetchPokemonService.fetchPokemonLoading || currentTrainerService.trainerLoading)">

  </app-pokemon>
  <button class="btn btn-danger" (click)="onLogout()">Log out</button>
</div>
