<p *ngIf="!pokemons.length" class="text-muted my-4 text-center">There is nothing to show</p>
<ul class="list-inline">
  <li *ngFor="let pokemon of pokemons" class="list-inline-item mb-2">
    <div class="card">
      <img [src]="pokemon.url"
           [alt]="pokemon.name"
           class="card-img-top">
      <div class="card-body text-center">
        <h5 class="card-title">{{pokemon.name}}</h5>
        <app-catch-button [pokemon]="pokemon" *ngIf="action === ButtonAction.CATCH"></app-catch-button>
        <app-release-button [pokemon]="pokemon" *ngIf="action === ButtonAction.RELEASE"></app-release-button>
      </div>
    </div>
  </li>
</ul>
