<div class="row align-items-center">
  <div class="col-auto">
    <ul class="pagination">
      <li class="page-item" [ngClass]="(pokeCatService.offset === 0 || '') && 'disabled'">
        <a class="page-link" (click)="onFirst()" [routerLink]="router.url">First</a>
      </li>
      <li class="page-item" [ngClass]="(pokeCatService.offset === 0 || '') && 'disabled'">
        <a class="page-link" (click)="onPrev()" [routerLink]="router.url">Previous</a></li>
      <li class="page-item disabled">
        <a class="page-link">
          {{pokeCatService.offset/pokeCatService.limit+1}} - {{pokeCatService.maxOffset/pokeCatService.limit+1}}
        </a>
      </li>
      <li class="page-item" [ngClass]="(pokeCatService.offset === pokeCatService.maxOffset || '') && 'disabled'">
        <a class="page-link" (click)="onNext()" [routerLink]="router.url">Next</a>
      </li>
      <li class="page-item" [ngClass]="(pokeCatService.offset === pokeCatService.maxOffset || '') && 'disabled'">
        <a class="page-link" (click)="onLast()" [routerLink]="router.url">Last</a>
      </li>
    </ul>
  </div>
  <div class="col-auto">
    <fieldset>
      <label for="items-per-page" class="form-label">Items per page:</label>
      <select id="items-per-page" class="form-select" (change)="onSelect($event)">
        <option value="10" [selected]="pokeCatService.limit===10">10</option>
        <option value="20" [selected]="pokeCatService.limit===20">20</option>
        <option value="50" [selected]="pokeCatService.limit===50">50</option>
        <option value="100" [selected]="pokeCatService.limit===100">100</option>
      </select>
    </fieldset>
  </div>
</div>
