<div class="container my-5">
  <h1>Pokémons</h1>
  <p class="text-center mt-4"
     *ngIf="pokemonCatalogService.loading">
    <span class="spinner-border text-primary"></span></p>
  <app-pokemon [pokemons]="pokemonCatalogService.results" [action]="buttonAction"
               *ngIf="!pokemonCatalogService.loading"></app-pokemon>
  <app-pagination></app-pagination>
</div>
